<!-- View Dispute Modal -->
<div id="view_dispute" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Dispute</h5>
            </div>
            <div class="modal-body">
                    <div class="row">
                    <div class="col-sm-12">
                        <img id="imagePreview" src="@($"{Names.BaseURL}{imagePath}")" alt="Image Preview" style="max-width: 100%; max-height: 400px;">
                    </div>                  
            </div>
                <div class="mt-2" style="display:flex; justify-content:center; align-items:center;">
                    <button data-bs-dismiss="modal" class="btn btn-outline-danger" @onclick="OnClose">Cancel</button>
                </div>
        </div>
    </div>
</div>
</div>




@code
{
    @using SCTSMA.PORTAL.DOMAIN.Dispute
    @using SCTSMA.PORTAL.CONFIG
    [Parameter, EditorRequired] public EventCallback OnClose { get; set; }
    [Parameter] public string imagePath { get; set; }
}

