@page "/landing"
@model SCTSMA.PORTAL.WEB.Pages.Dashboard.LandingPageModel


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Landing Page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/landing.css" rel="stylesheet">
</head>

<body>
    <main class="d-flex align-items-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <!-- Left Section -->
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-4" style="font-weight:700">Buy and sell SAFELY on social media</h1>
                    <p class="lead">SCTSMA provides an extra cord that protects both buyers and sellers from fraud</p>
                    <div>
                        <a href="/login" class="btn btn-primary btn-lg mr-2">Get Started</a>
                        <a href="/usersignup" class="btn btn-lg" style="color: #0d6efd; text-decoration:underline;">Register</a>
                    </div>
                </div>
                <!-- Right Section -->
                <div class="col-lg-6 text-center">
                    <img src="~/img/landing.png" class="img-fluid" alt="Landing Image">
                </div>
            </div>
        </div>
    </main>

    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/vendor/tinymce/tinymce.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
</body>

</html>



@{
}
